<h1 class="mt-5">Welcome to my Instagram Clone Rails App</h1>
        <p class="lead">Please register here or sign in to continue! </p>


<%= link_to "SIGN UP", new_account_registration_path, class: "btn btn-success" %>


<%= link_to "SIGN IN", new_account_session_path, class: "btn btn-secondary" %>